@page "/admin/combodetailsmn"
@layout ASM_C6.Components.Layout.AdminLayout
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Combo Detail DataTables</h6>
        <a class="bi bi-plus-square-fill-nav-menu" href="addcombodetail">Create New Combo Detail</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ComboDetail Id</th>
                        <th>Name of combo</th>
                        <th>Name of food</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (paginatedAdmins != null)
                    {
                        @foreach (var item in paginatedAdmins)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@GetComboName(item.ComboCode)</td>
                                <td>@GetFoodName(item.FoodCode)</td>
                                <td>
                                    <a href="admin/editcombodetail/@item.Id" class="btn btn-outline-primary">Edit</a>
                                </td>
                                <td>
                                    <a class="btn btn-outline-danger" @onclick="@(() => ConfirmDelete(item.Id))">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7">No data available</td>
                        </tr>
                    }
                </tbody>
            </table>

            <!-- Pagination controls -->
            <div class="d-flex justify-content-between mb-4">
                <button class="btn btn-primary" @onclick="PreviousPage" disabled="@((currentPage == 1) ? "true" : null)">Previous</button>
                <div>Page @currentPage of @totalPages</div>
                <button class="btn btn-primary" @onclick="NextPage" disabled="@((currentPage == totalPages) ? "true" : null)">Next</button>
            </div>
        </div>
    </div>
</div>
